@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f7f2;
  --text: #333333;
  --off-white: #fdfcfb;
  --orange: #ea5b38;
  --foreground: #171717;
}

* {
  transition: all 0.3s ease-in-out;
}
